<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cheng.sbsm.mapper.UserMapper">

    <resultMap id="userMap" type="cn.cheng.sbsm.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>
    <sql id="userColumnList">
        id,username,password,role
    </sql>
    <insert id="insertUser" parameterType="User">
		insert into user(id,password,role,username) values(#{id},#{password},#{role},#{username})
	</insert>

    <select id="selectAllUser" resultMap="userMap">
        select <include refid="userColumnList"></include> from user
        <where>
            <if test="id!=0">
                and id=#{id}
            </if>
            <if test="username!=null and username !=''">
                and username=#{username}
            </if>
        </where>
    </select>

    <select id="selectUserById" parameterType="int" resultMap="userMap">
        select <include refid="userColumnList"></include> from user
        <where>
            <if test="id!=0">
                and id = #{id}
            </if>
        </where>
    </select>


</mapper>